//Colors
$color-primary: #eeeeee;
$color-secondary: #d23244;
$color-hover: #000000;
$btn-book-discovery: #42a5e3;
$color-lightgray1: #e7374bb2;
$text-color: #000000;
$color-shadow: #8098fe;
$color-white: #ffffff;
$color-skyblue: #42a5e3;
$color-copyright-and-policy: #2e2e2e;
//Grid Value
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
