.handshake-promotion-welcome {
  width: 100%;
}
.section3__text__container {
  padding: 3rem 2rem;
}
.u-center {
  text-align: center;
  margin-top: 5rem;
}
.contacts-text {
  margin-left: 5rem;
  margin-top: 5rem;
}
.schedule-btn {
  margin-top: 3rem;
}
